body{
    margin: 0;
    padding: 0;
    background-color: #6984A9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container{
    background-color: #263B6A;;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.container:hover{
    transform: translateY(-5px);
    border: 2px solid #8494FF;
    box-shadow: 0 0 30px 10px #8494FF;
}
#city{
    padding: 20px 20px;
    border: none;
    outline: none;
    border-radius: 6px;
}
button{
    background-color: #DE1A58;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 6px;
}
.temp{
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}
.details{
font-size:16px;
}
